---
import { Image } from "@astrojs/image/components";

import Menu from "@/images/icons/menu.svg"
---

<header class="w-full bg-slate-100">
  <nav class="max-w-5xl lg:px-6 flex items-center justify-between">
    <div class="bg-primary-base rounded w-[32px] h-[32px]"></div>

    <Image
      width={32}
      height={32}
      src={Menu}
      alt="Ãcone de um menu"
      loading={"eager"}      
      fetchpriority={"high"}
    />
  </nav>
</header>